.centres {
	margin-top: 2em;
	a {
		color: $accent;
	}
	h1 {
		font-size: 2em;
		font-weight: bold;
	}
	ul {
		h2 {
			@include span-columns(12);
			font-weight: bold;
			font-size: 1.5em;
			margin-bottom: .5em;
			margin-top: 1em;
		}
		li {
			@include span-columns(6);
			a {
				border: 2.5px solid $black-10;
				margin-bottom: 30px;
				padding: 1em;
				display: inline-block;
				width: 100%;
				h3 {
					color: black;
					font-size: 1.4em;
				}
				p {
					margin-bottom: 0;
					color: $black-50;
					font-size: .8em;
					margin-top: .5em;
				}
				&:hover {
					border: 2.5px solid $accent;
					p {
						color: $accent;
					}
				}
			}
			&:nth-child(2n+1) {
				@include omega;
			}
		}
	}
	.frame-container {
		overflow: hidden;
		max-width: 750px;
		margin: 15px auto;
	}
	iframe {
		width: 986px;
		height: 1560px;
		margin-top: -1165px;
		margin-left: -108px;
	}
}
