.main.sponsors {
	@include span-columns(12);
	margin-top: 2em;
	h1 {
		font-weight: bold;
		font-size: 2em;
		margin-bottom: .75em;
	}
	ul.sponsors {
		li {
			text-align: center;
			a {
				display: inline-block;
				width: 75%;
				img {
					margin-bottom: 2em;
					width: 100%;
				}
			}
		}
	}
	.top {
		ul.sponsors {
			li {	
				@include span-columns(4);
				@include omega(3n);
			}
		}
	}
	.bottom {
		@include omega;
		ul.sponsors {
			li {
				@include span-columns(3);
				@include omega(4n);
			}
		}
	}
}