.venue {
	@include span-columns(12);
	margin-top: 2em;
	a {
		color: $accent;
	}
	h1 {
		font-size: 2em;
		font-weight: bold;
	}
	.travel-overview {
		@include span-columns(6);
		margin-top: 3em;
		h2 {
			font-weight: bold;
		}
	}
	iframe {
		@extend .travel-overview;
		@include omega;
		height: 505px;
	}
}