extends partials/_partials

block content
	.centres
		h1 Centres
		.frame-container
			iframe(scrolling="no" src="https://youngrewiredstate.org/centres")
	//.centres
		h1 Centres
		p.
			The Festival of Code is being run simultaniously in many centres arounf the country during the week. Here is our current list of approved centres. Up until the end of may, we are welcoming new centres - find out more on the <a href="">centre lead information page</a>.
		p.
			If you are a centre and think out information is incorrect, please <a href="/contact">contact us</a>. If you want to sign up as a centre, you can get more information <a href="centre-information">here</a>.
		ul
			h2 London
			li: a(href="https://gds.blog.gov.uk/")
				h3 Government Digital Service
				p Aviation House, 125 Kingsway, London, WC2B 6SE
			li: a(href="http://onekx.org.uk/")
				h3 One KX
				p 120 Cromer Street, London, WC1H 8BS
			li: a(href="http://uk.pearson.com/")
				h3 Pearson
				p 80 Strand, London, WC2R 0RL
			li: a(href="http://www.superthinkers.co.uk/")
				h3 Super Thinkers
				p Super Thinker Centre, 57 High Street, Romford, RM1 1JL
			li: a(href="http://www.swiftkey.net/en/")
				h3 SwiftKey
				p 91-95 Southwark Bridge Road, London, SE1 0AX
			li: a(href="https://www.thisiszone.com/find-us/london/")
				h3 Zone 
				p Western Transit Shed, 12 - 13 Stable Street, London, N1C 4AB
		ul
			h2 North England
			li: a(href="http://www.exa.net.uk/")
				h3 Exa Networks
				p 27-29 Mill Field Road, Bingley, BD16 1PY
		ul
			h2 East England
			li: a(href="http://www.cyber-duck.co.uk/")
				h3 Cyber-Duck
				p Elstree House, Elstree High Street, Elstree, WD6 3EP
		ul
			h2 South-East England
			li: a(href="http://www.oasisacademycoulsdon.org/")
				h3 Oasis Acadmey Coulsdon
				p Homefield Road, Coulsdon, Surrey, CR5 1ES
			li: a(href="http://www.microsoft.com/en-gb/about/ukoffices/reading")
				h3 Reading
				p Microsoft Campus, Thames Valley Park, Reading, RG6 1WG
			li: a(href="http://www.lighthouse.org.uk/")
				h3 Semantico & Lighthouse Brighton
				p Brighton Lighthouse, 28 Kensington Street, Brighton, BN1 4AJ
			li: a(href="https://www.stfc.ac.uk/76.aspx")
				h3 STFC RAL
				p STFC Scientific Computing Department, Harwell Oxford, Didcot, OX11 0QX
			li: a(href="http://techresorteb.com/")
				h3 Tech Resort Eastbourne
				p Cohub, 1 Commercial Road, Eastbourne, BN21 3XQ
		ul
			h2 South-West England
			li: a(href="http://i-dat.org/")
				h3 i-DAT
				P Insitute of Digital Art and Technology, Plymouth University, Portland Square, PL4 8AA
			li: a(href="http://kwmc.org.uk/")
				h3 Knowle West Media Centre
				p Leinster Ave, Bristol, BS4 1NL
		ul
			h2 North-West England
			li: a(href="http://freerangeartists.co.uk/")
				h3 Freerange
				p Carlisle Business Interaction Centre, 4-5 Paternoster Row, Carlisle, CA3 8TT
			li: a(href="http://www.oldham.ac.uk/")
				h3 Oldham College
				p Rochdale Road, Oldham, OL9 6AA
			li: a(href="https://www.stfc.ac.uk/1903.aspx")
				h3 STFC Daresbury Laboratory
				p Keckwick Lane, Warrington, WA4 4AD
			li: a(href="http://thestudio-liverpool.co.uk/")
				h3 The Studio
				p Greenland St, Liverpool, L1 0BS
		ul
			h2 The Midlands
			li: a(href="http://www.bbc.co.uk/careers/locations/birmingham")
				h3 BBC Birmingham
				p The Mailbox, Birmingham, B1 1AY
			li: a(href="https://www.bcu.ac.uk/")
				h3 Birmingham City University
				p Millennium Point, Curzon Street, Birmingham, B4 7XG
			li: a(href="http://nottinghack.org.uk/")
				h3 Nottingham Hackspace
				p Unit F6 BizSpace, Roden House Business Centre, Nottingham, NG3 1JH
		ul
			h2 Wales
			li: a(href="http://www.monmouthshire.gov.uk/")
				h3 Monmouthshire County Council
				p PO Box 106, Caldicot, NP26 9AN
			li: a(href="http://swansea.techhub.com/")
				h3 TechHub Swansea
				p 11 Wind Street, Swansea, SA1 1DP
		ul
			h2 Scotland
			li: a(href="http://www.abdn.ac.uk/")
				h3 University of Aberdeen
				p Computing Science, Meston Building, University of Aberdeen, Aberdeen, AB24 3UE
			li: a(href="http://www.ed.ac.uk/schools-departments/informatics")
				h3 School of Informatics, University of Edinburgh
				p Informatics Forum, 10 Crichton Street, Edinburgh, EH8 9AB