extends partials/_partials

block content
	.contact
		h1 Contact
		p.
			If for any reason you need to get in contact with us - please find the correct contact address below.
		ul
			li: a(href="mailto:kait@rewiredstate.org")
				h3 Parent Queries
				p kait@rewiredstate.org
			li: a(href="mailto:kait@rewiredstate.org")
				h3 Mentor Queries
				p kait@rewiredstate.org
			li: a(href="mailto:kait@rewiredstate.org")
				h3 Centre Queries
				p kait@rewiredstate.org
			li: a(href="mailto:kait@rewiredstate.org")
				h3 Participant Queries
				p kait@rewiredstate.org
			li: a(href="mailto:ruth@rewiredstate.org")
				h3 Sponsorship Queries
				p ruth@rewiredstate.org
			li: a(href="mailto:thom@rewiredstate.org")
				h3 Press Queries
				p thom@rewiredstate.org
			li: a(href="mailto:hello@rewiredstate.org")
				h3 Other 
				p hello@rewiredstate.org
		h2 Social
		ul
			li: a(href="https://twitter.com/search?q=%23yrs2014")
				h3 Twitter
				p #YRS2014
			li: a(href="https://www.facebook.com/youngrewired")
				h3 Facebook
				p /youngrewired
			li: a(href="http://webchat.freenode.net/")
				h3 IRC
				p Channel #yrs on freenode