extends partials/_partials

block content
	section.pitch
		img(src="img/yrs.png")
		h1 28 July - 3 Aug 2014
		p.
			Young Rewired State is an independent global network of young people aged 18 and under who have taught themselves to code. We introduce these children to like-minded peers at events around the world where they use freely available open data to make websites, apps and other awesome solutions to real world challenges.
		p.
			Since 2009 this one event has become a rapidly growing network of developers and designers aged 18 and under. Our primary focus is to continue to find and foster every young person driven to teach themselves how to code, how to program the world around them. Our efforts are celebrated annually at the Festival of Code, held over a week in multiple centres culminating in a huge showcase weekend at Plymouth University.
		a.social(href="http://twitter.com/youngrewired") Twitter
		a.social(href="http://facebook.com/youngrewired") Facebook
		a.social(href="http://youtube.com/youngrewired") YouTube
	section.register
		iframe(src="http://www.youtube.com/embed/G8tMoVicxXE" frameborder="0" allowfullscreen)
		h1 Register 
		a.form(href="https://youngrewiredstate.org/events/gb/2014/festival-of-code/signup/participant") Participant
		a.form(href="https://youngrewiredstate.org/events/gb/2014/festival-of-code/signup/mentor") Mentor
		a.form(href="https://youngrewiredstate.org/centres/signup?slug=festival-of-code") Center
		a.page.media(href="/media") Media
		a.page.contact(href="/contact") Contact
		a.poster(href="poster.pdf") Download the Poster

block footer
	script(src="js/script.min.js")