extends partials/_partials

block content
	.media
		h1 Media
		.images
			h2 Images 
			ul
				li
					.image-entry(style="background-image: url(img/press/1.jpg);")
					a(href="img/press/1.jpg") Download as JPG
				li
					.image-entry(style="background-image: url(img/press/2.jpg);")
					a(href="img/press/2.jpg") Download as JPG
				li
					.image-entry(style="background-image: url(img/press/3.jpg);")
					a(href="img/press/3.jpg") Download as JPG
				li
					.image-entry(style="background-image: url(img/press/4.jpg);")
					a(href="img/press/4.jpg") Download as JPG
				li
					.image-entry(style="background-image: url(img/press/5.jpg);")
					a(href="img/press/5.jpg") Download as JPG
				li
					.image-entry(style="background-image: url(img/press/6.jpg);")
					a(href="img/press/6.jpg") Download as JPG
		.videos
			h2 Videos 
			ul
				li
					iframe(src="http://www.youtube.com/embed/G8tMoVicxXE" frameborder="0" allowfullscreen)
					a(href="") View it on YouTube
				li
					iframe(src="http://www.youtube.com/embed/sbMYBH_Kfl4" frameborder="0" allowfullscreen)
					a(href="") View it on YouTube
				li
					iframe(src="http://www.youtube.com/embed/YjXRGyHo7Pk" frameborder="0" allowfullscreen)
					a(href="") View it on YouTube
				li
					iframe(src="http://www.youtube.com/embed/rP33dwTRFGM" frameborder="0" allowfullscreen)
					a(href="") View it on YouTube
				li
					iframe(src="http://www.youtube.com/embed/odT4cgd7d8c" frameborder="0" allowfullscreen)
					a(href="") View it on YouTube
				li
					iframe(src="http://www.youtube.com/embed/QhWhjHvVkmQ" frameborder="0" allowfullscreen)
					a(href="") View it on YouTube	
		.pack
			a.pack(href="") Download the press pack