extends partials/_partials

block content
	.main
		h1 Information for Participants <a href="/international-participants">International?</a>
		section
			h2 Preparation
			p.
				Before the start of the week, make sure you have your preferred development environment set up so you can get straight to hacking and not waste any time. You can write any languages or use any tools you like during the week. 
			p.
				You must bring your signed media release forms (we'll make sure you get these in advance), laptop with power supply, lunch, money for travel and clothes for the weekend.
			p.
				It's also advised that you take a look at our <a href="/resources">resources</a> page before the week to look at the data sets that we've found from accross the web.
			p.
				If you plan on coming to the weekend (which we'll assume you are), then we advise that you bring something to sleep on. A sleeping bag and roll mat make the most sense, but we've had people bring inflatable matresses in previous years.
		section
			h2 The Week
			p.
				Each centre will run its own hours, but most will be around 10am-4pm. Once assigned to your local centre in June, your centre lead will give you all the information that you need to know about your centre. 
			p.
				You will arrive to your assigned centre on Monday morning where you will be introduced to the other participants and mentors in your centre.
			p.
				During the first few hours, you will start to think of an idea to build during the week. Most people will form teams to work in, but you can also choose to work alone. Building you project will include finding relevant data and delegating tasks between members of the team. This stage is normally hectic, so you shouldn't feel bad if you have to ditch some of your initial ideas. Your mentors can help you finalise your idea.
			p.
				From late Monday to Thursday, you will be building your ideas in your team. Most mentors are already established developers, designers and business people - so feel free to ask them for as much help as you need.
			p.
				Food provision during the week varies from centre to centre - some provide food and some will require you to take packed lunches, but this will be communicated to you by your centre lead closer to the time of the event.
		section
			h2 The Weekend	
			p.
				On Friday, you will be travelling to the finale in <a href="/venue">Plymouth</a> with your centre. Plymouth may sound really far away but we are making travel super-easy so you can join in wherever you are. The travel arrangements will be organsied and communicated by your centre lead, who will let you know about them closer to the event. The only thing we expect you to pay for during the event is this travel, so just be aware of this. On Friday night, you will be camping indoors at Plymouth University and will be organised based on centre and age group.
			p.
				The finale will be split into three parts. The first part will take place on Saturday morning, where participants will be split into five streams (you are streamed based on your centre). The winners from each stream will then go head-to-head in the semi-finals on Saturday afternoon. The grand finale will take place on Sunday morning at a big concert venue called Plymouth Pavilions.
			p.
				Everyone is also invited to stay over on Saturday night (whether you're in the final or not) and come and support the finalists on Sunday morning. The whole event should be over by midday on Sunday.
			p.
				Food will be provided throughout the weekend and there will be vegetarian options, but if you have any other special dietary requirements then you will have to either bring their own food or some money to buy suitable food at the cafes around campus.
		section
			h2 Parental Permission for Plymouth
			ul
				li <span>13 &amp; Under</span>A parent must be with you for the whole weekend. If you are unable to have an adult come with you on the weekend, then you are still able to attend Monday-Thursday at your centre.
				li <span>14 - 17</span>You will need a signed permission slip which we will provide to you before the week. We would like this back on the first day of the week.
				li <span>18</span>No permission required.
		section
			h2 Change of Details
			p.
				It's important that we can get all information to you before the event. If any of your details (such as phone number or email address) change after you have signed up, please <a href="/contact">contact us</a> with the updated information.
		.register
			a(href="https://youngrewiredstate.org/events/gb/2014/festival-of-code/signup/participant") Register as a participant now
	.aside
		iframe(src="http://www.youtube.com/embed/cepkLJpMW98" frameborder="0" allowfullscreen)
		h1 Participant FAQ
		ul
			li
				h2 How good do I need to be?
				p.
					We ask that you have a working knowledge of at least one language. If you are a complete beginner, then do check out the resources page to drum up a few new skills before you attend the event.

			li
				h2 I have been coding for years. Will this bore me?
				p.
					No. You can build whatever you like and be mentored if you choose. If you are able, you can also become a peer-mentor to other participants. 
			li
				h2 Do I have to attend the weekend?
				p.
					You don't, but we highly recommend that you do - the finale will take place on the Saturday with winners being announced in the evening.
