extends partials/_partials

block head
	link(href="/css/video-js.css", type="text/css", rel="stylesheet")
	script(src="/js/video.js", type="text/javascript")

block content	
	.main.projects.single
		h1 Working on projects &amp; presentations
		section
			p During the week, you'll be working on a project or "hack". You can make anything you'd like, including games, apps, websites, hardware hacks or whatever else your imagination comes up with! Additionally, you're allowed to use any programming language you like for your project.
			p If you're stuck for ideas, we recommend looking at previous projects on our <a href="http://hacks.youngrewiredstate.org/">hacks website</a>. Furthermore, you will need to upload your project to the hacks website before 5pm Thursday 31<sup>st</sup> if you want to present it at <a href="/weekend">the weekend in Plymouth</a>.
		section.rules
			.text
				h2 Rules &amp; Regulations
				p Before starting work on your project, you should check that it follows these four key rules. Projects that do not follow these rules will not qualify for the semi-finals.
				ol
					li Your project must be new from Monday 28<sup>th</sup> July. You are not allowed to continue working on a project started before this date.
					li You must ensure your idea doesn't already exist, or if it is out there already, your version must be significantly different.
					li A team working on a project can be no larger than 4 members.
					li You must include at least one open data set in your project. Take a look at our <a href="/resources">resources page</a> as a good starting point.
			.rules-video
				video(id="rules_video" class="video-js vjs-default-skin" controls preload="none" width="100%" height="299px"
					poster="/video/rules.jpg"
					data-setup="{}")
					source(src="/video/rules.mp4" type='video/mp4')
					source(src="/video/rules.wemb" type='video/webm')
					source(src="/video/rules.ogv" type='video/ogg')
					p.vjs-no-js To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
			.clear
		section.preparation
			h2 Presentations
			p In previous years, we’ve allowed participants to use their own machines. However, as we've grown, this has become difficult to manage with the increased number of adapters and time needed when switching between machines. As such, you will now need to prepare a presentation that can be uploaded and used on one of our machines, as detailed below.
			.stages
				.stage
					h3 Preparation
					p Your presentation must either be accessible via the internet in the form of a demo, a presentation (using a tool such as <a href="http://www.slideshare.net/">Slideshare</a> or <a href="https://speakerdeck.com/">Speakerdeck</a>) or a pre-recorded video (uploaded to <a href="https://www.youtube.com/">YouTube</a> or <a href="https://vimeo.com/">Vimeo</a> prior to the heats).
					p Ensure that all your code is stored online (we recommend <a href="https://github.com/">GitHub</a> or <a href="https://bitbucket.org/">BitBucket</a>) and is easily retrieved and from another machine. If you are able to store a working executable online as well, that will make the process much quicker if you make it through the heats.
				.stage
					h3 The Heats
					p We will have one machine in each heat room with various browsers installed, your presentation will be run off this laptop. 
					p At the heats stage, you will only have a browser for your presentation. Make sure you either have a webapp live on the internet, a set of slides in an online tool or a pre-recorded video of your working product.
					p You will have 3 minutes to present your project, and a further 2 minutes to answer questions from the heat judges. 
				.stage
					h3 The Finale
					p We will have a rehearsal for finalists at 18:00 to 20:00 on Saturday night.
					p During the finale, we will have two machines - one running OSX 10.9 and the other running Windows 8.1. There will be an assortment of tools on these machines, which should allow you to perform a live demo, even if your project is not a webapp. If you can provide an executable to be loaded on to the machine, that is preferable. We will also be able to show hardware hacks at this stage. 
					p We will ensure all the projects run during the two-hour rehearsal on Saturday. 
			.clear