extends partials/_partials

block content	
	.main.sponsors
		h1 Sponsors
		ul.sponsors
			li: a(href="http://i-dat.org/"): img(src="img/sponsors/squares/idat.png")
			li: a(href="http://www.plymouth.gov.uk/"): img(src="img/sponsors/squares/plymouth-council.jpeg")
			li: a(href="http://www.plymouthpavilions.com/"): img(src="img/sponsors/squares/plymouth-pavilions.jpeg")
			li: a(href="https://www.americanexpress.com/uk/"): img(src="img/sponsors/squares/amex.jpeg")
			li: a(href="http://www.pearson.com/"): img(src="img/sponsors/squares/pearson.jpeg")
			li: a(href="http://google.com"): img(src="img/sponsors/squares/google.png")
			li: a(href="http://www.metoffice.gov.uk/"): img(src="img/sponsors/squares/met-office.jpg")
			li: a(href="http://twil.io"): img(src="img/sponsors/squares/twilio.png")
			li: a(href="http://www.stfc.ac.uk/home.aspx"): img(src="img/sponsors/squares/stfc.jpg")