@media screen and (max-width: 1150px) {
	.wrapper {
		padding: 0 1em;
	}
	section.pitch {
		@include span-columns(6);
	}
	section.register {
		@include span-columns(6);
		@include shift(0);
	}
}

@media screen and (max-width: 900px) {
	.aside {
		@include span-columns(6);
	}
	.main:not(.single) {
		@include span-columns(6);
		@include omega;
	}
	.bar.sponsors {
		@include span-columns(6);
	}
	header nav ul li {
		font-size: 0.8em;
		padding: 1.8em 0;
	}
	.centres {
		.frame-container {
			max-width: 365px;
			iframe {	
				margin-left: -500px;
			}
		}
	}
}

@media screen and (max-width: 750px) {	
	header nav ul li {
		@include span-columns(6);
		padding: .75em 0;
		&.omega {
			@include omega;
		}
		&.m-brand {
			@include span-columns(12);
			padding: 16px 0;
		}
		&.brand {
			display: none;
		}
	}
	section.pitch {
		@include span-columns(12);
	}
	section.register {
		@include span-columns(12);
	}
	.aside {
		@include span-columns(12);
	}
	.main {
		@include span-columns(12);
		@include omega(0);
	}
	.venue .travel-overview {
		@include span-columns(12);
	}
	.venue iframe {
		@include span-columns(12);
	}
	.media .images, .media .videos {
		@include span-columns(12);
		li .image-entry {
			height: 250px;
		}
		li iframe {
			height: 250px;
		}
	}
	.media .press li {
		@include span-columns(12);
		@include omega(0);
		margin-bottom: 1.5em;
	}
	.contact {
		ul li {
			@include span-columns(12);
			@include omega(0);
		}
	}
	.centres {
		ul li {
			@include span-columns(12);
			@include omega(0);
		}
	}
	.bar.sponsors {
		@include span-columns(12);
		ul.sponsors li {
			@include span-columns(5.5);
			@include omega(2n);
			&:first-child {
				margin-top: 10px;
			}
			&:nth-child(2n) {
				@include shift(1);
			}
		}
	}
	.participants {
		.whattobring ul li {
			@include span-columns(12);
		}
	}
	.weekend {
		.accomodation-text,
		.accomodation-map {
			@include span-columns(12);
		}
		.whattobring ul li {
			@include span-columns(12);
		}
		.methods {
			.travel-method {
				@include span-columns(12);
			}
		}
		.travel-text,
		.travel-addresses {
			@include span-columns(12);
		}
		.friday-register,
		.friday-minischedule,
		.friday-text,
		.friday-schedule {
			@include span-columns(12);
		}
		.friday-schedule {
			font-size: 0.8em;
			.schedule {
				margin-top: 0;
				table, thead, tbody, tr, th, td {
					display: block;
					width: 100%;
				}
				tbody {
					border-top: 2px solid #db2628;
				}
				thead {
					display: none;
				}
				tbody th {
					display: none;
				}
				tbody td {
					border-bottom: 1px solid #ddd;
					box-sizing: border-box;
					margin-right: 20%;
					min-height: 3.555em;
					position: relative;
					width: 80%;
				}
				tbody td.vip {
					border-left: 2px solid #db2628;
				}
				tbody td .right {
					border-left: 1px solid #ddd;
					border-bottom: 1px solid #ddd;
					box-sizing: border-box;
					color: #666;
					display: block;
					right: -25%;
					margin-right: -1px;
					padding: 0.5em;
					position: absolute;
					top: 0;
					width: 25%;
					span {
						display: block;
					}
				}
			}
		}
		.saturday-text,
		.saturday-schedule,
		.saturday-dayschedule,
		.saturday-activities,
		.saturdaynight {
			@include span-columns(12);
		}
		.saturday-schedule {
			font-size: 0.8em;
			.schedule {
				margin-top: 0;
				table, thead, tbody, tr, th, td {
					display: block;
					width: 100%;
				}
				thead {
					display: none;
				}
				tbody {
					border-bottom: 1px solid #ddd;
				}
				tbody th {
					border-left: 1px solid #ddd;
					border-top: 1px solid #333;
					border-bottom: 2px solid #db2628;
				}
				tbody td {
					border-bottom: 1px solid #ddd;
					box-sizing: border-box;
					margin-left: 20%;
					position: relative;
					width: 80%;
				}
				tbody td:before {
					border-left: 1px solid #ddd;
					border-bottom: 1px solid #ddd;
					box-sizing: border-box;
					color: #666;
					left: -25%;
					margin-left: -1px;
					padding: 0.5em;
					position: absolute;
					top: 0;
					width: 25%;
				}
				tr:nth-child(even) th,
				tr:nth-child(even) td,
				tr:nth-child(even) td:before {
					background: #f3f3f3;
				}
				tbody td:nth-of-type(1):before { content: "Track 1" }
				tbody td:nth-of-type(2):before { content: "Track 2" }
				tbody td:nth-of-type(3):before { content: "Track 3" }
				tbody td:nth-of-type(4):before { content: "Track 4" }
				tbody td:nth-of-type(5):before { content: "Track 5" }
				tbody td:nth-of-type(6):before { content: "Track 6" }
				tbody td:last-child,
				tbody td:last-child:before {
					border-bottom: none;
				}
			}
		}
		.sunday-text,
		.sunday-dayschedule {
			@include span-columns(12);
		}
		.sunday-image {
			display: none;
		}
		.sunday-judges .judge {
			@include span-columns(12);
		}
	}
	.coaches {
		.centres {
			-moz-column-count: 1;
			-webkit-column-count: 1;
		}
	}
}

@media screen and (max-width: 500px) {
	.media .images, .media .videos {
		li {
			@include span-columns(12);
			img {
				height: 300px;
			}
		}
	}
}