doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title= "Festival of Code 2014"
		link(rel="stylesheet", href="css/style.min.css")
		meta(name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width")
		block head
	body
		header
			nav
				ul
					li.m-brand: a(href="/") Young Rewired State<br>Festival of Code 2014
					li: a(href="/parents") Parent<br>Information
					li: a(href="/participants") Participant<br>Information
					li: a(href="mentors") Mentor<br>Information
					li: a(href="/centre-leads") Centre Lead<br>Information
					li.brand: a(href="/") Young Rewired State<br>Festival of Code 2014
					li: a(href="/resources") Resources<br>& Data 
					li: a(href="/travel") Travel
					li: a(href="/centres") Weekday venues
					li: a(href="/venue") Weekend venues
		.wrapper
			block content
		footer
			block footer